/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "partials/font.scss";
@import "partials/vars.scss";

main {
    position: relative;
    .primary {
        margin: 1rem;
        padding: 0.5rem;
        padding-left: 1rem;
        text-transform: capitalize;
        font-family: "Montserrat-ExtraBold";
        font-weight: 900;
        font-size: 2rem;
        background: $orange;
        border: 3px solid $grey;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &:after {
            content: "";
            background: url('../img/cross.svg') 50% 50% no-repeat;
            margin-left: 1rem;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            background-color: $white;
            background-size: 2rem 2rem;
        }
    }
}